<div class='mt-9 lg:mt-0 lg:w-96'>
  <h1 class='text-2xl lg:text-[40px]'>{{ 'customer.account.addresses.your_info' | t }}</h1>
  {% render 'account.addresses.user-info' %}
  {% render 'account.addresses.view-all' %}
  {% render 'account.addresses.edit-form' %}
  {% render 'account.addresses.add-form' %}
</div>
