<section data-edit-addresses class="hidden">
  <h5 class='text-heading-5 pb-5 border-b border-black mb-[42px] lg:mb-10'>{{ 'customer.account.addresses.edit_address.page_title' | t }}</h5>
  {% if customer.addresses_count != 0 %}
    {% for address in customer.addresses %}
      {% liquid
        assign address_default_first_name = address.first_name
        assign address_default_last_name = address.last_name
        assign address_default_company = address.company
        assign address_default_street_name = address.address1
        assign address_default_city = address.city
        assign address_default_zipcode = address.zip
        assign address_default_phone = address.phone

        if address.first_name == blank
          assign address_default_first_name = blank
        endif
        if address.last_name == blank
          assign address_default_last_name = blank
        endif
        if address.company == blank
          assign address_default_company = blank
        endif
        if address.address1 == blank
          assign address_default_street_name = blank
        endif
        if address.city == blank
          assign address_default_city = blank
        endif
        if address.zip == blank
          assign address_default_zipcode = blank
        endif
        if address.phone == blank
          assign address_default_phone = blank
        endif
      %}
      <div data-edit-address-form data-address-id='{{ address.id }}' class='hidden'>
        {% form 'customer_address', address %}
          <div class='max-w-[480px] text-body-xs'>
            {%-
              render 'component.input',
              id: 'addressFirstName',
              name: 'address[first_name]',
              placeholder: 'customer.account.addresses.address_form.first_name',
              default_value: address_default_first_name,
              autocomplete: 'given-name',
              label_class: 'hidden',
              input_class: 'mt-0 px-4 py-[18px] border-grey-4',
              required: true,
              requiredStar: true
            -%}
            {%-
              render 'component.input',
              id: 'addressLastName',
              name: 'address[last_name]',
              placeholder: 'customer.account.addresses.address_form.last_name',
              default_value: address_default_last_name,
              autocomplete: 'family-name',
              label_class: 'hidden',
              container_class: 'mt-4',
              input_class: 'mt-0 px-4 py-[18px] border-grey-4',
              required: true,
              requiredStar: true
            -%}
            {%-
              render 'component.input',
              id: 'addressCompany',
              name: 'address[company]',
              placeholder: 'customer.account.addresses.address_form.company',
              default_value: address_default_company,
              label_class: 'hidden',
              container_class: 'mt-4',
              input_class: 'mt-0 px-4 py-[18px] border-grey-4'
            -%}
            {%-
              render 'component.input',
              id: 'addressStreetName',
              name: 'address[address1]',
              placeholder: 'customer.account.addresses.address_form.street_name',
              default_value: address_default_street_name,
              autocomplete: 'street-address',
              label_class: 'hidden',
              container_class: 'mt-4',
              input_class: 'mt-0 px-4 py-[18px] border-grey-4',
              required: true,
              requiredStar: true
            -%}
            {%-
              render 'component.input',
              placeholder: 'Extension',
              id: 'extension',
              name: 'address[extension]',
              autocomplete: 'extension',
              label_class: 'hidden',
              container_class: 'mt-4',
              input_class: 'mt-0 px-4 py-[18px] border-grey-4',
            -%}
            {%- comment -%}Liquid way of getting the default country option without JS{%- endcomment -%}
            {%- liquid
              assign countries = all_country_option_tags | split: '<option'
              capture options
                for country in countries
                  echo '<option'
                  if country contains address.country
                    echo ' selected '
                  endif
                  echo country
                endfor
              endcapture
            -%}
            {%-
              render 'component.select',
              name: 'address[country]',
              options: options,
              id: "AddressCountryNew",
              autocomplete: 'country',
              label_class: 'hidden',
              placeholder_class: 'text-grey-3',
              container_class: 'mt-4 border border-grey-4 after:rotate-0 after:w-[8px] after:h-[6px] after:border-l-transparent after:border-b-transparent after:border-r-transparent after:border-t-[6px] after:border-l-[4px] after:border-r-[4px] after:border-t-black',
              select_class: 'px-4 py-[18px] w-full appearance-none',
              autocomplete: 'country',
              placeholder: 'customer.account.addresses.address_form.country',
              required: true,
              requiredStar: true
            -%}
            {%-
              render 'component.input',
              id: 'addressZip',
              name: 'address[zip]',
              placeholder: 'customer.account.addresses.address_form.zipcode',
              default_value: address_default_zipcode,
              autocomplete: 'postal-code',
              label_class: 'hidden',
              container_class: 'mt-4',
              input_class: 'mt-0 px-4 py-[18px] border-grey-4',
              required: true,
              requiredStar: true
            -%}
            {%-
              render 'component.input',
              id: 'addressCity',
              name: 'address[city]',
              placeholder: 'customer.account.addresses.address_form.city',
              default_value: address_default_city,
              autocomplete: 'address-level2',
              label_class: 'hidden',
              container_class: 'mt-4',
              input_class: 'mt-0 px-4 py-[18px] border-grey-4',
              required: true,
              requiredStar: true
            -%}
            {%-
              render 'component.input',
              id: 'addressTelephone',
              name: 'address[phone]',
              placeholder: 'customer.account.addresses.address_form.phone',
              default_value: address_default_phone,
              autocomplete: 'tel',
              label_class: 'hidden',
              container_class: 'mt-4',
              input_class: 'mt-0 px-4 py-[18px] border-grey-4',
            -%}
            {% unless address == customer.default_address %}
              {% liquid
                assign edit_address_checkbox_id = "address_default_address_edit_" | append: address.id
              %}
              {%-
                render 'component.checkbox',
                label: 'customer.account.addresses.edit_address.set_default',
                id: edit_address_checkbox_id,
                name: 'address[default]',
                default_value: "1",
                container_class: 'mt-4 lg:mt-5 text-detailed',
                input_class: 'border-grey-4'
              -%}
            {% endunless %}
          </div>
          <div class="flex flex-col lg:flex-row mt-[26px] lg:mt-[30px] items-center gap-4 lg:gap-10">
            {%- render 'component.button'
              type: 'submit'
              text: 'customer.account.addresses.edit_address.submit_button'
              style: 'primary'
              class: 'w-full px-8 lg:px-12 lg:max-w-[189px]'
            -%}
            <a data-reset-page-button class='cursor-pointer text-grey-3 text-center underline text-body-sm'>
              {{- 'customer.account.addresses.edit_address.cancel_button' | t -}}
            </a>
          </div>
        {%- endform -%}
      </div>
    {% endfor %}
  {% endif %}
</section>