<section data-component='orders'>
  {%- unless agent -%}
    {%- render 'account.orders-data' -%}
    <div data-no-orders class='hidden'>
      <p class='mt-10'>{{- 'customer.account.orders.no_orders_yet' | t -}}</p>
      {%-
        render 'component.button',
        text: 'customer.account.orders.shop_now_button',
        style: 'primary',
        class: 'mt-7 lg:mt-9 px-8 lg:px-12 inline-block',
        href: routes.collections_url
      -%}
    </div>
  {%- else -%}
    {%- render 'component.select',
      id: 'selectCustomer',
      label: 'customer.account.orders.select_customer',
      label_class: 'text-heading-7',
      placeholder_class: 'text-grey-3',
      container_class: 'mb-3 max-w-[480px]',
      select_class: 'px-4 py-[18px] mt-3 border border-grey-4 w-full appearance-none',
      placeholder: 'Select customer',
      attributes: 'data-select-customer'
    -%}
    <p data-customer-select-text class='mt-10 mb-[100px]'>
      {{- 'customer.account.orders.select_customer_info'| t -}}
    </p>
    <p data-no-orders class='mt-10 mb-[100px] hidden'>
      {{- 'customer.account.orders.customer_no_orders' | t -}}
    </p>
    <div class='mt-7 lg:mt-[60px]'>
      {%- render 'account.orders-data' -%}
    </div>
  {%- endunless -%}
</section>
