<section data-component='orders'>
  {%- unless agent -%}
    {%- render 'account.orders-data' -%}
    <div data-no-orders class='hidden'>
      <p class='mt-10'>You haven't places any orders yet.</p>
      {%- render 'component.button',
        text: 'Go shopping',
        style: 'primary',
        class: 'mt-7 lg:mt-9 px-8 lg:px-12 inline-block',
        href: routes.collections_url
      -%}
    </div>
  {%- else -%}
    {%- render 'component.select',
      id: 'selectCustomer',
      label: 'Select customer',
      label_class: 'text-heading-7',
      placeholder_class: 'text-grey-3',
      container_class: 'mb-3 max-w-[480px]',
      select_class: 'px-4 py-[18px] mt-3 border border-grey-4 w-full appearance-none',
      placeholder: 'Select customer',
      attributes: 'data-select-customer'
    -%}
    <p data-customer-select-text class='mt-10 mb-[100px]'>Select a customer to see any orders.</p>
    <p data-no-orders class='mt-10 mb-[100px] hidden'>This customer doesn't have any orders.</p>
    <div class='mt-7 lg:mt-[60px]'>
      {%- render 'account.orders-data' -%}
    </div>
  {%- endunless -%}
</section>
