<section data-add-address class='hidden'>
  <a class='block mt-7 mb-9 lg:my-12 text-xl opacity-50 cursor-pointer' data-reset-page-button>
    {{- 'customer.account.addresses.back_to_info' | t -}}
  </a>
  <h1 class='text-2xl lg:text-3xl'>
    {{ 'customer.account.addresses.add_address.page_title' | t }}
  </h1>

  <div class='mt-9'>
    {% form 'customer_address', customer.new_address %}
      <div class=''>
        {%-
          render 'component.input',
          label: 'customer.account.addresses.address_form.first_name',
          placeholder: 'customer.account.addresses.address_form.first_name',
          id: 'addressFirstName',
          name: 'address[first_name]',
          autocomplete: 'given-name',
          container_class: 'mt-4',
          required: true
        -%}
        {%-
          render 'component.input',
          label: 'customer.account.addresses.address_form.last_name',
          placeholder: 'customer.account.addresses.address_form.last_name',
          id: 'addressLastName',
          name: 'address[last_name]',
          autocomplete: 'family-name',
          container_class: 'mt-4'
        -%}
        {%-
          render 'component.input',
          label: 'customer.account.addresses.address_form.company',
          placeholder: 'customer.account.addresses.address_form.company',
          id: 'addressCompany',
          name: 'address[company]',
          container_class: 'mt-4'
        -%}
        {%-
          render 'component.input',
          label: 'customer.account.addresses.address_form.street_name',
          placeholder: 'customer.account.addresses.address_form.street_name',
          id: 'addressStreetName',
          name: 'address[address1]',
          autocomplete: 'street-address',
          container_class: 'mt-4',
          required: true
        -%}
        {%- liquid
          assign countries = all_country_option_tags | split: '<option'
          capture options
            for country in countries
              echo '<option'
              if country contains address.country
                echo ' selected '
              endif
              echo country
            endfor
          endcapture
        -%}
        {%-
          render 'component.select',
          name: 'address[country]',
          options: options,
          id: "AddressCountryNew",
          label: 'customer.account.addresses.address_form.country',
          label_class: 'text-xs',
          container_class: 'flex flex-col mt-4',
          select_class: 'mt-2 py-3 px-4 border border-black appearance-none after:content-[""]',
          autocomplete: 'country',
          required: true,
        -%}
        {%-
          render 'component.input',
          label: 'customer.account.addresses.address_form.city',
          id: 'addressCity',
          name: 'address[city]',
          placeholder: 'customer.account.addresses.address_form.city',
          autocomplete: 'address-level2',
          container_class: 'mt-4'
        -%}
        {%-
          render 'component.input',
          label: 'customer.account.addresses.address_form.zipcode',
          id: 'addressZip',
          name: 'address[zip]',
          placeholder: 'customer.account.addresses.address_form.zipcode',
          autocomplete: 'postal-code',
          container_class: 'mt-4'
        -%}
        {%-
          render 'component.input',
          label: 'customer.account.addresses.address_form.phone',
          id: 'addressTelephone',
          name: 'address[phone]',
          placeholder: 'customer.account.addresses.address_form.phone',
          autocomplete: 'tel',
          container_class: 'mt-4'
        -%}

        {%-
          render 'component.checkbox',
          label: 'customer.account.addresses.add_address.set_default',
          id: 'address_default_address_new',
          name: 'address[default]',
          default_value: "1",
          container_class: 'mt-6 mb-3'
        -%}
        <input
          type='submit'
          value='{{ 'customer.account.addresses.add_address.submit_button' | t }}'
          class='w-full py-3 mt-6 cursor-pointer font-normal bg-primary text-white hover:bg-primary/90 focus:bg-primary/90'
        >
        <a data-reset-page-button class='block text-center underline cursor-pointer mx-auto my-4'>
          {{- 'customer.account.addresses.add_address.cancel_button' | t -}}
        </a>
      </div>
    {%- endform -%}
  </div>
</section>
