
<div>
  <h2 class="text-heading-3 lg:text-heading-2 mb-9 lg:mb-12">{{- 'customer.activate.heading' | t -}}</h2>
  {%- form 'reset_customer_password', class: "mb-4 lg:mb-5 flex flex-col" -%}
    {%- if form.errors -%}
      <div class="text-red-light mb-4">
        {{ form.errors | default_errors }}
      </div>
    {%- endif -%}
    {%- render 'component.input'
      id: 'CustomerPassword'
      name: 'customer[password]'
      label_class: 'hidden'
      input_class: 'mb-4 lg:mb-5 mt-0'
      type: 'password'
      placeholder: 'Password*'
    -%}
    {%- render 'component.input'
      id: 'CustomerPasswordConfirmation'
      name: 'customer[password_confirmation]'
      label_class: 'hidden'
      input_class: 'mb-4 lg:mb-5 mt-0'
      type: 'password'
      placeholder: 'Confirm password*'
    -%}
    {%- render 'component.button'
      text: 'Activate account'
      id: 'activate-account'
      style: 'primary'
      type: 'submit'
      class: 'py-[17px] text-body-xs'
    -%}
    <div class="text-center mt-4 lg:mt-5">
      <button type="submit" name="decline" class="text-grey-3 underline">{{- 'customer.activate.cancel_button' | t -}}</button>
    </div>
  {%- endform -%}
</div>