<section data-addresses>
  <h5 class='text-heading-5 pb-5 border-b border-black'>Addresses</h5>
  {% if customer.addresses_count == 0 %}
    <p class='text-body-small mt-10 mb-7 lg:mb-9'>You haven't saved any addresses yet.</p>
  {% else %}
    <div>
      {%- render 'component.address'
        address: customer.default_address
      -%}
      {% for address in customer.addresses %}
        {%- unless address == customer.default_address -%}
          {%- render 'component.address'
            address: address
          -%}
        {%- endunless -%}
      {% endfor %}
    </div>
  {% endif %}

  {%- render 'component.button',
    text: 'Add address',
    class: 'px-8 lg:px-12 mt-10',
    style: 'primary',
    attributes: 'data-add-address-button'
  -%}
</section>
