<div class='hidden max-w-sm mx-4 26rem:mx-auto mt-12 mb-16 lg:my-32' data-forgot-form>
  <h1 class='text-5xl'>{{- 'customer.forgot.heading' | t -}}</h1>
  <p class='mt-4'>{{- 'customer.forgot.subheading' | t -}}</p>

  {%- form 'recover_customer_password' -%}
    {% liquid
      assign email_label_class = ""
      assign email_input_class = ""
      if form.errors
        assign email_attributes = 'aria-invalid="true" aria-describedby="RecoverEmail-email-error" autofocus'
        assign email_label_class = "text-alert"
        assign email_input_class = "border-alert"
      endif
    %}
    {%-
      render 'component.input',
      translate_placeholder: true,
      translate: true,
      label: 'customer.login.email',
      id: 'RecoverEmail',
      name: 'email',
      type: 'email',
      placeholder: 'customer.login.email',
      autocomplete: 'email',
      required: true,
      container_class: 'mt-16',
      label_class: email_label_class,
      input_class: email_input_class,
      attributes: email_attributes
    -%}

    {% if form.posted_successfully? %}
      <p data-forgot-success class='text-sm mt-4'>{{ 'customer.forgot.success' | t }}</p>
    {% endif %}

    {% render 'component.form-errors' with form_errors: form.errors, attributes: "data-forgot-errors" %}

    {%
      render 'component.button',
      translate: true,
      text: 'customer.forgot.submit_button',
      style: 'primary',
      class: 'mt-6 w-full',
      type: 'submit'
    %}

    <a href='' class='block underline text-center mt-6' data-to-login>
      {{ 'customer.forgot.back_to_login_button' | t }}
    </a>
  {%- endform -%}
</div>
