<section data-add-address class="hidden">
  <h5 class='text-heading-5 pb-5 border-b border-black mb-[42px] lg:mb-10'>{{- 'customer.account.addresses.add_address.page_title' | t -}}</h5>

  <div>
    {% form 'customer_address', customer.new_address %}
      <div class='max-w-[480px] text-body-xs'>
        {%-
          render 'component.input',
          translate_placeholder: true,
          placeholder: 'customer.account.addresses.address_form.first_name',
          id: 'addressFirstName',
          name: 'address[first_name]',
          autocomplete: 'given-name',
          label_class: 'hidden',
          input_class: 'mt-0 px-4 py-[18px] border-grey-4',
          required: true,
          requiredStar: true
        -%}
        {%-
          render 'component.input',
          translate_placeholder: true,
          placeholder: 'customer.account.addresses.address_form.last_name',
          id: 'addressLastName',
          name: 'address[last_name]',
          autocomplete: 'family-name',
          label_class: 'hidden',
          container_class: 'mt-4',
          input_class: 'mt-0 px-4 py-[18px] border-grey-4',
          required: true,
          requiredStar: true
        -%}
        {%-
          render 'component.input',
          translate_placeholder: true,
          placeholder: 'customer.account.addresses.address_form.company',
          id: 'addressCompany',
          name: 'address[company]',
          label_class: 'hidden',
          container_class: 'mt-4',
          input_class: 'mt-0 px-4 py-[18px] border-grey-4'
        -%}
        {%-
          render 'component.input',
          translate_placeholder: true,
          placeholder: 'customer.account.addresses.address_form.street_name',
          id: 'addressStreetName',
          name: 'address[address1]',
          autocomplete: 'street-address',
          label_class: 'hidden',
          container_class: 'mt-4',
          input_class: 'mt-0 px-4 py-[18px] border-grey-4',
          required: true,
          requiredStar: true
        -%}
        {%-
          render 'component.input',
          placeholder: 'Extension',
          id: 'extension',
          name: 'address[extension]',
          autocomplete: 'extension',
          label_class: 'hidden',
          container_class: 'mt-4',
          input_class: 'mt-0 px-4 py-[18px] border-grey-4',
        -%}
        {%- liquid
          assign countries = all_country_option_tags | split: '<option'
          capture options
            for country in countries
              echo '<option'
              if country contains address.country
                echo ' selected '
              endif
              echo country
            endfor
          endcapture
        -%}
        {%-
          render 'component.select',
          translate_placeholder: true,
          name: 'address[country]',
          options: options,
          id: "AddressCountryNew",
          label_class: 'hidden',
          placeholder_class: 'text-grey-3',
          container_class: 'mt-4 border border-grey-4',
          select_class: 'px-4 py-[18px] w-full appearance-none',
          autocomplete: 'country',
          placeholder: 'customer.account.addresses.address_form.country',
          required: true,
          requiredStar: true
        -%}
        {%-
          render 'component.input',
          translate_placeholder: true,
          id: 'addressZip',
          name: 'address[zip]',
          placeholder: 'customer.account.addresses.address_form.zipcode',
          autocomplete: 'postal-code',
          label_class: 'hidden',
          container_class: 'mt-4',
          input_class: 'mt-0 px-4 py-[18px] border-grey-4',
          required: true,
          requiredStar: true
        -%}
        {%-
          render 'component.input',
          translate_placeholder: true,
          id: 'addressCity',
          name: 'address[city]',
          placeholder: 'customer.account.addresses.address_form.city',
          autocomplete: 'address-level2',
          label_class: 'hidden',
          container_class: 'mt-4',
          input_class: 'mt-0 px-4 py-[18px] border-grey-4',
          required: true,
          requiredStar: true
        -%}
        {%-
          render 'component.input',
          translate_placeholder: true,
          id: 'addressTelephone',
          name: 'address[phone]',
          placeholder: 'customer.account.addresses.address_form.phone',
          autocomplete: 'tel',
          label_class: 'hidden',
          container_class: 'mt-4',
          input_class: 'mt-0 px-4 py-[18px] border-grey-4',
        -%}
        {%-
          render 'component.checkbox',
          translate: true,
          label: 'customer.account.addresses.add_address.set_default',
          id: 'address_default_address_new',
          name: 'address[default]',
          default_value: "1",
          container_class: 'mt-4 lg:mt-5 text-detailed',
          input_class: 'border-grey-4'
        -%}
        <div class="flex flex-col lg:flex-row mt-[26px] lg:mt-[30px] items-center gap-4 lg:gap-10">
          {%- render 'component.button'
            translate: true,
            type: 'submit'
            text: 'customer.account.addresses.add_address.submit_button'
            style: 'primary'
            class: 'w-full px-8 lg:px-12 lg:max-w-[189px]'
          -%}
          <a data-reset-page-button class='cursor-pointer text-grey-3 text-center underline text-body-sm'>
            {{- 'customer.account.addresses.add_address.cancel_button' | t -}}
          </a>
        </div>
      </div>
    {%- endform -%}
  </div>
</section>
