<p class='text-body-xs'>
  <span class='text-grey-3'>
    {{- 'cart.product_item.quantity' | t -}}
    :
  </span>
  <span data-quantity-elem>
    {%- if item -%}
      {{- item.variant.title -}}
      :
      {{- item.quantity -}}
    {%- endif -%}
  </span>
</p>
