<form data-update-sizes-form data-id='{{- item.product_id -}}'>
  {%- render 'product-sizes',
    product: item.product,
    is_cart: true,
    product_variants: product_variants
  -%}
  <div class='mt-4'>
    <p
      data-update-error-msg
      class='text-red-light text-detailed opacity-100 transition-all duration-300 translate-y-0 empty:opacity-0 empty:translate-y-2 h-4'
    ></p>
    {%- assign attributes = 'data-update-order-btn data-id="'
      | append: item.product_id
      | append: '"'
    -%}
    {%- render 'component.button',
      style: 'primary',
      text: 'Update order',
      class: 'w-full mt-2 group',
      type: 'submit',
      attributes: attributes,
      loading_class: 'h-6 hidden group-is-active:flex',
      text_loading_class: 'group-is-active:hidden'
    -%}
  </div>
</form>
