<div class='flex gap-2'>
  {%- render 'component.button',
    text: 'Cancel',
    style: 'secondary',
    class: 'w-full',
    attributes: 'data-close-popup-btn data-type="save-cart"'
  -%}
  {%- render 'component.button',
    text: 'Save',
    style: 'primary',
    class: 'w-full group',
    attributes: 'data-save-cart-popup-btn',
    loading_class: 'hidden group-is-active:flex',
    text_loading_class: 'group-is-active:hidden'
  -%}
</div>
