{%- comment -%}
  Expected behaviour:
    Renders a footer bar

  Accepts:
    - is_menu: {Boolean} Is footer from mobile menu (Changed contents)

  Usage:
    Example of <button> with translation text
    {% render 'component.footer-bar',
      is_menu: false
    %}
{%- endcomment -%}
{%- liquid
  assign switcher_class = 'hidden lg:block'
  assign account_link_class = 'hidden'
  if is_menu
    assign switcher_class = 'block'
    assign account_link_class = 'block'
  endif
  assign switcher_class = switcher_class | append: ' flex-1'
-%}

<div class='bg-black text-white '>
  <div class='container-content flex justify-center text-detailed items-center py-3 px-4 lg:px-5'>
    <div class='{{- switcher_class -}}'>{%- render 'country-select' -%}</div>
    <a href='/account' class='{{- account_link_class -}}'>Account</a>
    <p class='{%- if is_menu %} hidden {% endif -%}'>
      {{- 'general.footer.copyright' | t: year: year, store: shop.name -}}
    </p>
  </div>
</div>
