{%- comment -%}
  Expected behaviour:
    Renders country switcher

  About:
    Render a select list with country names

  Accepts:
    - currentName: {String} Current country
    - countriesName: {Array} List of available countries
    - countriesURL: {Array} List of country URLs

  Optional:
    - class: {String} Container classname

  Usage:
    {%- render 'component.country-switcher'
      currentName: currentName
      countriesURL: countriesURL
      countriesName: countriesName
    -%}
{%- endcomment -%}

<div class="flex-1 {{ class }}">
  <div class="relative max-w-[75px]">
    <label for="store_switcher" class="hidden">Store switcher</label>
    <select class="bg-black appearance-none w-[calc(100%+1rem)] focus-visible:border-black focus-visible:outline-none">
      {%- for country in countriesName -%}
        {%- assign index = forloop.index | minus: 1  -%}
        <option data-url="{{- countriesURL[index] -}}?no-redirect"
          {%- if country == currentName -%}
              selected
          {%- endif -%}>
          {{- country -}}
        </option>
      {%- endfor -%}
    </select>
    <span class="after:content-[''] after:block after:h-full after:w-full after:bg-[url('icon.select.svg')] after:bg-no-repeat absolute w-4 top-0 bottom-0 -right-4 pointer-events-none"></span>
  </div>
</div>