<div
  class='group {% if active %}open{% endif %} py-7'
  data-component='accordion'
  data-group='{{ group }}'
>
  <button type='button' class='flex w-full items-center justify-between' data-toggle>
    <p class='text-heading-7'>{{- title -}}</p>
    <div data-expand-btn>
      {%- render 'component.icon', type: 'plus' -%}
    </div>
    <span data-shrink-btn class='px-[5px] py-[9.5px] w-[10px] h-[1px] bg-black hidden'></span>
  </button>
  <article
    class='group-is-open:h-[var(--innerHeight)] h-0 overflow-hidden transition-all duration-500 prose'
    data-inner
  >
    {{- content -}}
  </article>
</div>
