{%- comment -%}
  Expected behaviour:
    Renders hero section

  Accepts:
    - title_tag: {String} Title tag for SEO
    - title: {String} Title to display
    - image: {Image} Mobile image
    - desktop_image: {Image} Desktop image
    - lazyload_image: {Boolean} Should lazyload image
    - class: {String} Section classname

  Usage:
    {%- render 'component.header'
      title_tag: 'h1'
      title: 'Test title'
      image: section.settings.image
      desktop_image: section.settings.desktop_image
      lazyload_image: true
      class: 'h-[400px] lg:h-[600px]'
    -%}
{%- endcomment -%}

{%- liquid
  if lazyload_image == false
    assign eager = 1
  endif

  assign img = image | default: desktop_image
  assign desktop_img = desktop_image | default: image
-%}

<div class='container isolate relative flex items-center justify-center overflow-hidden {{ class -}}'>
  <{{ title_tag }} class='text-heading-3 lg:text-heading-2 text-center text-white absolute z-10'>
    {{- title -}}
  </{{ title_tag }}>
  {%- if img -%}
    {%- render 'component.image',
      img: img,
      eager: eager,
      width: 1024,
      aspect_ratio: 1.05,
      class: 'w-full h-full self-start object-cover object-center lg:hidden'
    -%}
  {%- endif -%}
  {%- if desktop_img -%}
    {%- render 'component.image',
      img: desktop_img,
      eager: eager,
      aspect_ratio: 1.45,
      width: 2560,
      class: 'w-full h-full object-cover object-center hidden lg:block'
    -%}
  {%- endif -%}
</div>
