<div class='bg-grey-6 relative overflow-hidden'>
  <div class='swiper overflow-hidden' data-main-image-slider>
    <div class='swiper-wrapper items-center'>
      {%- for image in product.images -%}
        <div data-main-slide class='swiper-slide h-full {{ slide_class -}}'>
          <div class='flex flex-none h-full items-center justify-center p-content bg-grey-6'>
            {%- render 'component.image',
              img: image,
              class: 'w-full mix-blend-darken h-full max-w-screen-xl',
              width: 1280
            -%}
          </div>
        </div>
      {%- endfor -%}
    </div>
    {%- if product.images.size > 1 -%}
      {%- render 'component.slider-button',
        icon_type: 'arrow-left',
        attributes: 'data-prev',
        class: 'hidden lg:block lg:left-content-wide disabled:hidden'
      -%}
      {%- render 'component.slider-button',
        icon_type: 'arrow-right',
        attributes: 'data-next',
        class: 'hidden lg:block lg:right-content-wide disabled:hidden'
      -%}
    {%- endif -%}
  </div>
  {%- if product.images.size > 1 -%}
    <div class='flex lg:max-w-[80%] py-7 mx-auto'>
      <div class='swiper overflow-hidden w-full' data-sub-image-slider>
        <div class='swiper-wrapper items-center h-full'>
          {%- for image in product.images -%}
            <div class='swiper-slide cursor-pointer h-full slide:w-auto is-active:opacity-40 bg-grey-6'>
              <div class='flex flex-none h-full items-center justify-center'>
                {%- render 'component.image',
                  img: image,
                  class: 'w-full mix-blend-darken h-full',
                  width: 400
                -%}
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  {%- endif -%}
</div>
