{%- capture color_slides -%}
  {%- for product in collections.all.products -%}
    {%- if product.metafields.details.product_family contains family_metafield -%}
        {%- if product.available -%}
          <div class='swiper-slide group-is-loading:!shrink-0 group-is-loading:!w-[calc(100%/3.5)] group-is-loading:lg:!w-[calc(25%)] opacity-60 {% unless product.handle == current_product -%}order-1 opacity-100{%- endunless -%}' data-slide>
            {%- unless product.handle == current_product -%}
              <a href='{{- product.url -}}' >
            {%- endunless -%}
              {%- render 'component.image',
                img: product.featured_image,
                class: 'w-full mix-blend-darken',
                width: 200,
                aspect_ratio: 0.6
              -%}
            {%- unless product.handle == current_product -%} 
              </a>
            {%- endunless -%}
          </div>
        {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}

{%- if color_slides != blank -%}
  <div data-component='productColors' class='mt-7'>
    <p class='text-heading-7 text-grey-1 mb-3'>Select colour</p>
    <div class='relative'>
      <div class='group swiper is-loading' data-slider>
        <div class='swiper-wrapper flex items-center group-is-loading:overflow-hidden group-is-loading:gap-1'>
            {{- color_slides -}}
        </div>
      </div>
      {%- render 'component.slider-button',
        icon_type: 'arrow-left',
        attributes: 'data-prev disabled',
        class: 'hidden lg:block -left-12'
      -%}
      {%- render 'component.slider-button',
        icon_type: 'arrow-right',
        attributes: 'data-next',
        class: 'hidden lg:block -right-12'
      -%}
    </div>
  </div>
{%- endif -%}

