{%- assign color_count = 0 -%}

{%- capture color_slides -%}
  {%- for product in collections.all.products -%}
    {%- if product.metafields.details.product_family == family_metafield -%}
           {% comment %}   if product.available   {% endcomment %}
          <div data-slide class='swiper-slide group-is-loading:!shrink-0 group-is-loading:!w-[calc(100%/3.5)] group-is-loading:lg:!w-[calc(25%)] {% if product.handle == current_product -%}order-1 opacity-60{%- else -%}order-2 opacity-100{%- endif -%}' data-slide>
            {%- unless product.handle == current_product -%}
              <a href='{{- product.url -}}' >
            {%- endunless -%}
              {%- render 'product-image', img: product.featured_image, width: 200, variable: value, aspect_ratio: 0.6 -%}
            {%- unless product.handle == current_product -%} 
              </a>
            {%- endunless -%}
          </div>
          {%- assign color_count = color_count | plus: 1 -%}
        {% comment %}
         {%- endif -%}
        {% endcomment %}
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}

{%- if color_slides != blank -%}
  <div data-component='productColors' class='mt-7'>
    <p class='text-heading-7 text-grey-1 mb-3'>Select colour</p>
    <div class='relative'>
      <div class='group swiper is-loading' data-slider>
        <div class='swiper-wrapper flex items-center group-is-loading:overflow-hidden group-is-loading:gap-1'>
            {{- color_slides -}}
        </div>
      </div>
      {%- render 'component.slider-button',
        icon_type: 'arrow-left',
        attributes: 'data-prev disabled',
        class: 'hidden lg:block -left-12'
      -%}
      {%- liquid 
        assign next_attributes = 'data-next'
        if color_count <= 5
          assign next_attributes = next_attributes | append: ' disabled'
        endif
        -%}
      {%- render 'component.slider-button',
        icon_type: 'arrow-right',
        attributes: next_attributes,
        class: 'hidden lg:block -right-12'
      -%}
    </div>
  </div>
{%- endif -%}

