<div
  class='grid grid-cols-[repeat(auto-fill,_minmax(288px,_1fr))] sm:grid-cols-[repeat(auto-fill,_minmax(300px,_1fr))] lg:grid-cols-[repeat(auto-fill,_minmax(400px,_1fr))] gap-7 lg:gap-[60px] is-loading:opacity-50 is-loading:pointer-events-none'
  {{ attributes -}}
>
  {{- content -}}
</div>
