<div class='bg-grey-6 relative p-4 lg:p-[60px] lg:pb-7 h-min overflow-hidden'>
  {%- render 'product.image-slider',
    product: product,
    class: 'h-[263px] lg:h-[548px]',
    img_container_class: 'mx-auto w-[343px] lg:w-[720px] h-[263px] lg:h-[548px]',
    img_class: 'object-contain',
    swiper_attribute: 'data-main-image-slider',
    slide_attribute: 'data-main-slide'
  -%}
  {%- if product.images.size > 1 -%}
    {%- render 'component.slider-button',
      icon_type: 'arrow-left',
      attributes: 'data-prev',
      class: 'hidden lg:block lg:left-7'
    -%}
    {%- render 'component.slider-button',
      icon_type: 'arrow-right',
      attributes: 'data-next',
      class: 'hidden lg:block lg:right-7'
    -%}
  {%- endif -%}
  {%- render 'product.image-slider',
    product: product,
    class: 'lg:mt-14 h-[80px] lg:h-[100px]',
    slide_class: 'cursor-pointer slide:w-auto is-slide-active:opacity-40',
    img_container_class: 'w-[104px] h-[80px] lg:w-[120px] lg:h-[100px]',
    img_class: 'object-cover',
    swiper_attribute: 'data-sub-image-slider'
  -%}
</div>
