<div
  {{ attributes }}
  class='group flex gap-4 justify-between is-loading:justify-center is-loading:items-center flex-none {{ class -}}'
>
  {%- render 'loading-indicator', class: 'hidden h-[1em] group-is-loading:flex' -%}
  <div class='relative w-full cursor-pointer group-is-loading:hidden'>
    <select
      data-select
      class='bg-inherit appearance-none w-full cursor-pointer'
    >
      {%- if placeholder != blank -%}
        <option selected disabled>{{- placeholder | t -}}</option>
      {%- endif -%}
      {{ options -}}
    </select>
    <span
      class="after:block after:h-full after:w-full after:bg-[url('icon.select.svg')] after:bg-no-repeat absolute w-[1em] top-0 bottom-0 right-0 pointer-events-none"
    ></span>
  </div>
</div>
