<div data-component='storeSelect' class='{{- class -}}'>
  {%- render 'select',
    placeholder: 'general.header.select_customer',
    attributes: 'data-select-customer',
    class: 'w-[110px] h-[1.4em]',
    select_class: 'bg-black'
  -%}
</div>
