<div class='max-w-sm mx-4 26rem:mx-auto mt-12 mb-7 lg:my-32'>
  <h1 class='text-5xl'>{{ 'customer.reset.heading' | t }}</h1>
  {% form 'reset_customer_password', class: 'mt-16' %}
    {% liquid
      assign password_label_class = ""
      assign password_input_class = ""
      if form.errors contains 'password'
        assign password_attributes = 'aria-invalid="true" aria-describedby="password-error" autofocus'
        assign password_label_class = 'text-alert'
        assign password_input_class = 'border-alert'
      endif
    %}

    {%-
      render 'component.input',
      label: 'customer.reset.password',
      placeholder: 'customer.reset.password',
      id: 'ResetPassword',
      name: 'customer[password]',
      type: 'password',
      autocomplete: 'new-password',
      required: true,
      attributes: password_attributes,
      input_class: password_input_class,
      label_class: password_label_class
    -%}

    {%-
      render 'component.input',
      label: 'customer.reset.password_confirm',
      placeholder: 'customer.reset.password_confirm',
      id: 'PasswordConfirmation',
      name: 'customer[password_confirmation]',
      type: 'password',
      autocomplete: 'new-password',
      required: true,
      attributes: password_attributes,
      input_class: password_input_class,
      label_class: password_label_class,
      container_class: 'mt-4'
    -%}

    {% render 'component.form-errors' with form_errors: form.errors %}

    <input
      type='submit'
      class='py-3 mt-6 lg:w-full cursor-pointer font-normal bg-primary text-white hover:bg-primary/90 focus:bg-primary/90'
      value='{{ 'customer.reset.submit_button' | t }}'
    >
  {% endform %}
</div>
