{%- liquid
  assign announcement_text = section.settings.announcement_text
  assign agent = false
-%}

<div class='bg-black text-white text-detailed py-3 px-5 {% if agent -%}justify-center{%- else -%}justify-between{%- endif %} {% if announcement_text == blank and agent == false -%}hidden lg:flex{%- else -%}flex{%- endif -%}'>
  {%- unless agent -%}
    {%- render 'component.country-switcher', class: 'flex-1 hidden md:block' -%}
  {%- endunless -%}

  {%- if announcement_text and agent == false -%}
    <p class='flex-1 text-center'>
      {{- announcement_text | upcase -}}
    </p>
  {%- endif -%}

  {%- unless agent -%}
    <a href='/account' class='flex-1 text-right hidden md:block'>
      {{- 'general.header.account' | t -}}
    </a>
  {%- endunless -%}

  {%- if agent -%}
    <div class='relative max-w-[110px]'>
      <select class='bg-black appearance-none w-[calc(100%+1rem)] focus-visible:border-black focus-visible:outline-none'>
        <option selected disabled>{{- 'general.header.select_customer' | t -}}</option>
        {%- for i in (0..5) -%}
          <option>
            {{- i -}}
          </option>
        {%- endfor -%}
      </select>
      <span
        class="after:content-[''] after:block after:h-full after:w-full after:bg-[url('icon.select.svg')] after:bg-no-repeat absolute w-4 top-0 bottom-0 -right-4 pointer-events-none"
      ></span>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement Text"
    }
  ]
}
{% endschema %}
