{%- include 'function.agent' -%}
{%- liquid
  assign announcement_text = section.settings.announcement_text
-%}

<div
  data-component='announcementBar'
  class='bg-black text-white text-detailed py-3 {% if announcement_text == blank and agent == false -%}hidden lg:flex{%- else -%}flex{%- endif -%}'
>
  <div class='container-content-wide flex {% if agent -%}justify-center{%- else -%}justify-between{%- endif %}'>
    {% comment %} TODO: Hide for agents once we have switching by customer currency (hide with css to the redirect form stuff still works ✨) {% endcomment %}
    {%- render 'country-select' -%}

    {%- if announcement_text != blank and agent == false -%}
      <p class='flex-1 text-center'>
        {{- announcement_text | upcase -}}
      </p>
    {%- endif -%}

    {%- if agent -%}
      <div class='absolute mx-auto'>
        {% render 'store-select' %}
      </div>
    {%- endif -%}

    {%- if customer -%}
      <a href='/account' class='flex-1 text-right hidden md:block'>
        {{- 'general.header.account' | t -}}
      </a>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement Text"
    }
  ]
}
{% endschema %}
