{%- liquid
  assign s = section.settings
  assign blocks = section.blocks
-%}

<section data-component='categoryOverview' class='container relative text-white py-4 lg:p-content'>
  <div data-slider class='swiper'>
    <div
      id='category-overview'
      class='swiper-wrapper lg:grid lg:grid-cols-3 lg:gap-x-[60px] [.is-loaded_&]:lg:flex [.is-loaded_&]:lg:gap-x-0 {{ container_size_class -}}'
    >
      {%- for category in blocks -%}
        {%- liquid
          assign c = category.settings
        -%}
        <div class='swiper-slide relative'>
          <div class='w-full'>
            {%- liquid
              assign img = c.image | default: c.collection.featured_image
              assign desktop_img = c.desktop_image | default: c.collection.featured_image
              assign button_text = c.button_text | default: 'Shop now'
              assign button_url = c.collection.url
            -%}
            {% render 'component.image',
              img: img,
              lazy: s.lazyload_image,
              width: 340,
              aspect_ratio: 1.385,
              class: 'w-full h-full object-cover lg:hidden'
            %}
            {% render 'component.image',
              img: desktop_img,
              lazy: s.lazyload_image,
              width: 840,
              aspect_ratio: 1.385,
              class: 'w-full h-full object-cover hidden lg:block'
            %}
          </div>
          <div class='absolute inset-0 w-full h-full flex justify-center flex-col items-center py-9 px-4 lg:py-12 lg:px-6'>
            <{{ s.title_tag }} class='text-heading-4 lg:text-heading-3 absolute'>
              {{- c.title | default: c.collection.title -}}
            </{{ s.title_tag }}>
            {%- if button_url and button_text -%}
              {%- render 'component.button',
                text: button_text,
                href: button_url,
                class: 'inline-block mt-auto',
                style: 'transparent'
              -%}
            {%- endif -%}
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</section>

{%- schema -%}
{
  "name": "Category Overview",
  "settings": [
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "checkbox",
      "id": "lazyload_image",
      "label": "Lazyload image",
      "default": false,
      "info": "Only lazyload the image when it's not the first image on the page"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "Title tag",
      "default": "h4",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "P"
        }
      ]
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Overlay opacity",
      "info": "Add a see through black layer between your image/video and the content",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "category",
      "name": "Category Item",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Desktop Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Category Overview"
    }
  ]
}
{%- endschema -%}
