{%- liquid
  assign blocks = section.blocks
-%}

<section data-component="heroSlider" class="hero">
  <div data-slider class="swiper">
    <div class="swiper-wrapper">
      {% for slide in blocks %}
        {%- liquid
          assign s = slide.settings
        -%}
        <div class="swiper-slide">
          <div class="hero-heading absolute-center">
            <h2 class="text-heading-3 lg:text-heading-2">{{- s.title -}}</h2>
            {% render 'component.button'
              text: s.button_text
              href: s.button_url
              class: "hero-heading__btn",
              style: "transparent"
            %}
          </div>
          <div>
            {% render 'component.image'
              desktop_img: s.desktop_image
              img: s.image
            %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <button data-prev class="hero__btn hero__btn_left">
    {% render 'component.icon'
      type: 'arrow-left'
    %}
  </button>
  <button data-next class="hero__btn hero__btn_right">
    {% render 'component.icon'
      type: 'arrow-right'
    %}
  </button>
</section>

{% schema %}
{
  "name": "Hero",
  "blocks": [
    {
      "type": "category",
      "name": "Section slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Desktop Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}
