{%- liquid
  assign blocks = section.blocks
-%}

<section data-component="heroSlider" class="relative text-center text-white min-height-[32.875rem] lg:min-height-[50rem]">
  <div data-slider class="swiper">
    <div class="swiper-wrapper">
      {% for slide in blocks %}
        {%- liquid
          assign s = slide.settings
        -%}
        <div class="swiper-slide">
          <div class="absolute z-10 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 max-width-[30rem]">
            {%- if s.title -%}
              <{{ s.title_tag }} class="text-heading-3 lg:text-heading-2">{{- s.title -}}</{{ s.title_tag }}>
            {%- endif -%}
            {%- if s.button_text or s.button_url -%}
              {% render 'component.button'
                text: s.button_text
                href: s.button_url
                class: "inline-block mt-7 lg:mt-10",
                style: "transparent"
              %}
            {%- endif -%}
          </div>
          {%- if s.image or s.desktop_image -%}
            <div>
              {% render 'component.image'
                desktop_img: s.desktop_image
                img: s.image,
                lazy: s.lazyload_image
              %}
            </div>
          {%- endif -%}
        </div>
      {% endfor %}
    </div>
  </div>
  {%- render 'component.slider-button'
    attributes: 'data-prev'
    icon_type: 'arrow-left'
    class: 'left-[calc(50%-36px)] lg:left-0'
  -%}
  {%- render 'component.slider-button'
    attributes: 'data-next'
    icon_type: 'arrow-right'
    class: 'left-[calc(50%+36px)] lg:right-0 lg:left-[initial]'
  -%}
</section>

{% schema %}
{
  "name": "Hero",
  "blocks": [
    {
      "type": "category",
      "name": "Section slide",
      "settings": [
        {
          "type": "checkbox",
          "id": "lazyload_image",
          "label": "Lazyload image",
          "default": false,
          "info": "Only lazyload the image when it's not the first image on the page"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Desktop Image"
        },
        {
          "type": "select",
          "id": "title_tag",
          "label": "Title tag",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            },
            {
              "value": "p",
              "label": "P"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}
