{%- liquid
  assign blocks = section.blocks
-%}

<section
  data-component='hero'
  class='container relative text-center text-white h-[32.875rem] lg:h-[50rem]'
>
  <div data-slider class='swiper'>
    <div class='swiper-wrapper flex overflow-hidden'>
      {% for slide in blocks %}
        {%- liquid
          assign s = slide.settings
        -%}
        <div data-slide class='swiper-slide'>
          <div class='absolute z-10 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 max-width-[30rem]'>
            {%- if s.title -%}
              <{{ s.title_tag }} class='text-heading-3 lg:text-heading-2'>
                {{- s.title -}}
              </{{ s.title_tag }}>
            {%- endif -%}
            {%- if s.button_text or s.button_url -%}
              {% render 'component.button',
                text: s.button_text,
                href: s.button_url,
                class: 'inline-block mt-7 lg:mt-10',
                style: 'transparent'
              %}
            {%- endif -%}
          </div>
          {%- if s.image or s.desktop_image -%}
            <div class='h-[32.875rem] lg:h-[50rem]'>
              {% render 'component.image',
                desktop_img: s.desktop_image,
                img: s.image,
                lazy: s.lazyload_image,
                class: 'h-full',
                img_class: 'object-cover'
              %}
            </div>
          {%- endif -%}
        </div>
      {% endfor %}
    </div>
    {%- if blocks.size > 1 -%}
      {%- render 'component.slider-button',
        attributes: 'data-prev',
        icon_type: 'arrow-left',
        class: 'left-[calc(50%-36px)] lg:left-content'
      -%}
      {%- render 'component.slider-button',
        attributes: 'data-next',
        icon_type: 'arrow-right',
        class: 'left-[calc(50%+36px)] lg:right-content lg:left-[initial]'
      -%}
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Hero",
  "blocks": [
    {
      "type": "category",
      "name": "Section slide",
      "settings": [
        {
          "type": "checkbox",
          "id": "lazyload_image",
          "label": "Lazyload image",
          "default": false,
          "info": "Only lazyload the image when it's not the first image on the page"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Desktop Image"
        },
        {
          "type": "select",
          "id": "title_tag",
          "label": "Title tag",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            },
            {
              "value": "p",
              "label": "P"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}
