{% liquid
  assign s = section.settings
  assign image = s.image | default: collection.featured_image
  assign desktop_image = s.desktop_image | default: collection.featured_image
  assign title = s.title | default: collection.title
-%}

{%- render 'component.header',
  title_tag: 'h2',
  title: title,
  image: image,
  desktop_image: desktop_image,
  lazyload_image: false,
  class: 'max-h-[max(55vh,450px)] lg:max-h-[max(60vh,640px)]'
-%}

<div class='border-b-grey-5 border-b'>
  <ul class='container-content flex justify-center gap-9 py-6 lg:py-8 text-heading-5'>
    {%- for collection_data in collections -%}
      <li class='hover:underline {% if collection_data.handle == collection.handle -%}underline{%- endif -%}'>
        {{- collection_data.title | link_to: collection_data.url -}}
      </li>
    {%- endfor -%}
  </ul>
</div>

<div
  data-component='mainCollection'
  data-section-id='{{ section.id }}'
  class='container'
>
  <div
    data-container
    class='group is-loading:opacity-50 is-loading:pointer-events-none px-4 py-7 grid lg:grid-cols-[180px_1fr] gap-7 lg:gap-[60px] lg:p-content'
  >
    {%- render 'collection.filters', section_id: section.id -%}
    <div class='w-full'>
      {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
      {% liquid
        capture options
          for option in collection.sort_options
            echo '<option '
            if option.value == sort_by
              echo ' selected '
            endif
            echo ' value="' | append: option.value | append: '"'
            echo '>Sort by: ' | append: option.name | append: '</option>'
          endfor
        endcapture
      %}
      {%- render 'component.select',
        options: options,
        container_class: 'min-w-[260px] lg:w-min ml-auto border border-grey-4 mb-7 lg:mb-10',
        select_class: 'px-4 py-4 w-full bg-transparent appearance-none',
        attributes: 'data-sort-by-options'
      -%}
      <div
        class='grid grid-cols-[repeat(auto-fill,_minmax(288px,_1fr))] sm:grid-cols-[repeat(auto-fill,_minmax(300px,_1fr))] lg:grid-cols-[repeat(auto-fill,_minmax(400px,_1fr))] gap-7 lg:gap-[60px]'
        data-product-grid
      >
        {% paginate collection.products by 15 %}
          {%- if collection.products.size == 0 -%}
            <div>
              <p data-empty>{{- 'collections.collection_empty' | t -}}</p>
            </div>
          {%- else -%}
            {% for product in collection.products %}
              {%- render 'component.product', product: product -%}
            {% endfor %}
          {%- endif -%}
        {% endpaginate %}
      </div>
      <div data-load-more></div>
    </div>
  </div>
</div>

{% render 'quick-add-drawer' %}

{% schema %}
{
  "name": "Collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    }
  ],
  "presets": [
    {
      "name": "Collection"
    }
  ]
}
{% endschema %}
