{%- assign s = section.settings -%}

<section class="pt-7 lg:pt-0 flex flex-col-reverse lg:flex-row container" data-component='login'>
  <div class="lg:flex-1 h-[348px] lg:h-[752px] overflow-hidden">
    {%- render 'component.image'
      img: s.image
      desktop_img: s.desktop_image
      class: 'h-full'
      img_class: 'object-cover'
    -%}
  </div>
  <div class="flex items-center justify-center flex-col lg:flex-1 mb-10 lg:mb-0">
    <div class="mx-4 lg:mx-0 max-w-[480px]">
      {%- if canonical_url contains 'login' -%}
        {%- render 'account.login-page' -%}
      {%- elsif canonical_url contains 'account/reset' -%}
        {%- render 'account.password-reset' -%}
      {%- else -%}
        {%- render 'account.activate-account' -%}
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Login page",
    "settings": [
      {
          "type": "header",
          "content": "Images"
      },
      {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
      },
      {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Desktop Image"
      }
    ],
    "presets": [
      {
        "name": "Login page"
      }
    ]
  }
{% endschema %}