{% liquid
  assign s = section.settings
  assign image = s.image | default: collection.featured_image
  assign desktop_image = s.desktop_image | default: collection.featured_image
  assign title = s.title | default: collection.title
-%}

{%- render 'component.header',
  title_tag: 'h2',
  title: title,
  image: image,
  desktop_image: desktop_image,
  lazyload_image: true,
  class: 'h-[404px] lg:h-[640px]'
-%}

<div class='border-b-grey-5 border-b'>
  <ul class='container-content flex justify-center gap-9 py-6 lg:py-8 text-heading-5'>
    {%- for collection_data in collections -%}
      {%- if collection_data.title != collection.title -%}
        <li class='hover:underline'>
          {{- collection_data.title | link_to: collection_data.url -}}
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</div>

<div
  data-component='mainCollection'
  data-section-id='{{ section.id }}'
  class='container group'
>
  <div data-overlay class="group-filters_opened:after:fixed group-filters_opened:after:inset-0 group-filters_opened:after:z-10 group-filters_opened:after:bg-black group-filters_opened:after:opacity-40"></div>
  <div class='px-4 py-7 grid lg:grid-cols-[180px_1fr] gap-7 lg:gap-[60px] lg:p-[60px]'>
    {%- render 'collection.filters', section_id: section.id -%}
    {%- render 'component.button',
      text: 'Filter',
      style: 'primary_reversed',
      size: 'sm',
      class: 'lg:hidden',
      attributes: 'data-open-filter-btn'
    -%}
    <div class='w-full'>
      <div
        class='grid grid-cols-[repeat(auto-fill,_minmax(300px,_1fr))] lg:grid-cols-[repeat(auto-fill,_minmax(400px,_1fr))] gap-7 lg:gap-[60px]'
        data-product-grid
      >
        {% paginate collection.products by 15 %}
          {%- if collection.products.size == 0 -%}
            <div>
              <p data-empty>{{- 'collections.collection_empty' | t -}}</p>
            </div>
          {%- else -%}
            {% for product in collection.products %}
              {%- render 'component.product', product: product -%}
            {% endfor %}
          {%- endif -%}
        {% endpaginate %}
      </div>
      <div data-load-more></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    }
  ],
  "presets": [
    {
      "name": "Collection"
    }
  ]
}
{% endschema %}
