{%- liquid
  assign s = section.settings
  assign image = s.image | default: collection.featured_image
  assign desktop_image = s.desktop_image | default: collection.featured_image
-%}

<div class="relative overflow-hidden h-[404px] lg:h-[640px]">
  <{{- s.title_tag }} class="text-heading-3 lg:text-heading-2 text-center text-white absolute z-10 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
    {{- s.title | default: collection.title -}}
  </{{- s.title_tag -}}>
  <div class="h-[404px] lg:h-[640px]">
    {%- render 'component.image'
      img: image
      desktop_img: desktop_image
      lazy: s.lazyload_image
      img_class: 'object-cover'
    -%}
  </div>
</div>

{%- schema -%}
{
  "name": "Collection",
  "settings": [
    {
      "type": "checkbox",
      "id": "lazyload_image",
      "label": "Lazyload image",
      "default": false,
      "info": "Only lazyload the image when it's not the first image on the page"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "Title tag",
      "default": "h2",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        },
        {
          "value": "h6",
          "label": "H6"
        },
        {
          "value": "p",
          "label": "P"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    }
  ],
  "presets": [
    {
      "name": "Collection"
    }
  ]
}
{%- endschema -%}