{% liquid
  assign s = section.settings
%}

<div
  data-component='mainCollection'
  class='container filters_opened:after:content-[""] filters_opened:after:absolute filters_opened:after:inset-0 filters_opened:after:z-10 filters_opened:after:bg-black filters_opened:after:opacity-40'
>
  <ul class='flex justify-center gap-9 py-[22px] lg:py-[31px] text-heading-5 border-b border-b-grey-5'>
    {%- for collection_data in collections -%}
      {%- if collection_data.title != collection.title -%}
        <li class='hover:underline'>
          {{- collection_data.title | link_to: collection_data.url -}}
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
  <div class='px-4 py-7 grid lg:grid-cols-[180px_1fr] gap-7 lg:gap-[60px] lg:p-[60px]'>
    <aside
      class='absolute top-0 left-0 bottom-0 z-20 px-4 py-7 bg-white w-[313px] duration-300 -translate-x-[313px] filters_opened:translate-x-0 lg:translate-x-0 lg:z-0 lg:p-0 lg:w-[initial] lg:static lg:block min-w-[180px]'
      data-filters
    >
      <button data-close-filters-btn class="text-grey-3 mb-[30px] lg:hidden">{{- 'collections.close' | t -}}</button>
      <div class='mb-10'>
        {%- comment -%} TODO: get the filters shopify way? {%- endcomment -%}
        <p class='text-heading-7 mb-3 font-medium'>Category</p>
        <ul class='flex flex-col gap-2'>
          <li>Test</li>
          <li>Test</li>
          <li>Test</li>
        </ul>
      </div>
    </aside>
    {%- render 'component.button',
      text: 'Filter',
      style: 'primary_reversed',
      size: 'sm',
      class: 'lg:hidden',
      attributes: 'data-open-filter-btn'
    -%}
    <div class='w-full'>
      <h3 class='text-heading-4 lg:text-heading-3 mb-7 lg:mb-[60px]'>Test header</h3>
      <div class='grid grid-cols-1 lg:grid-cols-3 gap-7 lg:gap-[60px]' data-product-grid>
        {% paginate collection.products by 15 %}
          {%- if collection.products.size == 0 -%}
            <div>
              <p data-empty>{{- 'collections.collection_empty' | t -}}</p>
            </div>
          {%- else -%}
            {% for product in collection.products %}
              {%- render 'component.product', product: product -%}
            {% endfor %}
          {%- endif -%}
        {% endpaginate %}
      </div>
      <div data-load-more></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "test",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    }
  ],
  "presets": [
    {
      "name": "test"
    }
  ]
}
{% endschema %}
