{%- liquid
  assign s = section.settings

  assign img = s.image | default: s.desktop_image
  assign desktop_img = s.desktop_image | default: s.image
-%}

<section class='lg:pt-0 flex flex-col-reverse lg:flex-row container' data-component='login'>
  {%- if s.image -%}
    <div class='lg:flex-1 overflow-hidden max-h-[max(100vh,500px)]'>
      {%- render 'component.image',
        img: s.image,
        width: 1024,
        class: 'w-full h-full object-cover object-top lg:hidden'
      -%}
      {%- render 'component.image',
        img: s.desktop_image,
        width: 1280,
        class: 'w-full h-full object-cover object-top hidden lg:block'
      -%}
    </div>
  {%- endif -%}
  <div class='flex items-center justify-center flex-col lg:flex-1 py-7'>
    <div class='mx-4 lg:mx-0 max-w-[480px]'>
      {%- if canonical_url contains 'login' -%}
        {%- render 'account.login-page' -%}
      {%- elsif canonical_url contains 'account/reset' -%}
        {%- render 'account.password-reset' -%}
      {%- else -%}
        {%- render 'account.activate-account' -%}
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Login page",
  "settings": [
    {
      "type": "header",
      "content": "Images"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    }
  ],
  "presets": [
    {
      "name": "Login page"
    }
  ]
}
{% endschema %}
