<section
  data-component='shareCart'
  class='container px-4 mt-[28px] lg:mt-[60px] mb-[60px] lg:mb-[100px]'
>
  <form data-add-to-bag-form>
    <div data-section class='max-w-[720px] mx-auto hidden'>
      <div class='flex lg:mb-10 flex-col lg:flex-row justify-between lg:items-center'>
        <h4 class='text-heading-4 lg:text-heading-3 mb-7 lg:mb-0' data-cart-title>
          {{- 'share.general.title' | t -}}
        </h4>
      </div>
      <div data-content class='text-body-sm group'>
        <div data-product-container></div>
        <p data-products-error class='hidden group-is-active:block'></p>
        <div class='flex group-is-active:hidden justify-between text-body-lg my-10 lg:mt-[60px]'>
          <p>Subtotal</p>
          <p class="flex">
            <span>{{- cart.currency.symbol -}}</span>
            <span data-subtotal></span>
          </p>
        </div>
        <div class='group-is-active:hidden'>
          {%- capture button_content -%}
            <span class='group-is-active:hidden'>{{- 'cart.general.share' | t -}}</span>
            <span class='group-is-active:inline hidden'>
              {{- 'cart.general.link_copied' | t -}}
            </span>
          {%- endcapture -%}
            {%- render 'component.button',
            text: button_content,
            style: 'secondary',
            class: 'group w-full is-active:border-black mb-2 lg:mb-4',
            attributes: 'data-share-cart-btn'
          -%}
          {%- render 'component.button',
            text: 'share.general.add_to_bag',
            style: 'primary',
            class: 'w-full',
            attributes: 'data-add-to-bag-btn'
          -%}
        </div>
      </div>
    </div>
    <div data-loader>
      {%- render 'loading-indicator' -%}
    </div>
    {%- render 'component.popup',
      content_snippet: 'share.add-to-bag.content',
      footer_snippet: 'share.add-to-bag.footer',
      title: 'share.add_to_bag.title',
      type: 'add-to-bag'
    -%}
  </form>
  <template data-product-template>
    {%- render 'cart.product', shared: true -%}
  </template>
</section>
