.hero {
  position: relative;
  text-align: center;
  color: #FFF;
  min-height: 32.875rem;
}

.hero-heading {
  max-width: 30rem;
}

.hero-heading__btn {
  padding: 1rem 2rem;
  border: 1px solid #FFF;
  margin-top: 2.5rem;
  display: inline-block;
}

.hero__btn {
  z-index: 1;
  position: absolute;
  background: white;
  border-radius: 50%;
  padding: 1.28125rem 1.0625rem;
  bottom: 0;
  transform: translateX(-50%);
  margin: 1.75rem 0;
}

.hero__btn_left {
  left: calc(50% - 36px);
}

.hero__btn_right {
  left: calc(50% + 36px);
}

@media (min-width: 1024px) {
  .hero {
    min-height: 50rem;
  }

  .hero-heading__btn {
    padding: 1rem 3rem;
  }

  .hero__btn {
    top: 50%;
    bottom: initial;
    transform: translateY(-50%);
    margin: 0 3.75rem;
  }

  .hero__btn_left {
    left: 0;
  }
  
  .hero__btn_right {
    right: 0;
    left: initial;
  }
}