.total-line--reduction,
.section--payment-method,

/* Seongtaek July 5 2023 Starts*/
.section--reductions,
.order-summary__emphasis,
/* Seongtaek July 5 2023 Ends*/
.order-summary__section--discount {
  display: none;
}

.order-summary__section ~ .order-summary__section--discount ~ .order-summary__section--total-lines {
  border: none;
   display: none;
}

