.total-line--reduction,
.section--payment-method,
.section--reductions,
.order-summary__section--discount {
  display: none;
}

.order-summary__section ~ .order-summary__section--discount ~ .order-summary__section--total-lines {
  border: none;
   display: none;
}

