<div class="wrapper-full-width wrapper-12-col wrapper-mobile mx-auto text-green-deep px-4">
  <div>
    <div class="border-b border-black py-10">
      <h2 class="text-heading-2">Typo</h2>
    </div>
    <div>
      <div class="mb-8 space-y-6">
        <h1 class="text-heading-1">Heading 1</h1>
        <h2 class="text-heading-2">Heading 2</h2>
        <h3 class="text-heading-3">Heading 2</h3>
        <h4 class="text-heading-4">Heading 4</h4>
        <h5 class="text-heading-5">Heading 5</h5>
        <h6 class="text-heading-6">Heading 6</h6>
        <p class="text-heading-7">Heading 7</p>
      </div>
      <div class="space-y-6">
        <p class='text-body-lg'>Body Large</p>
        <p class='text-body'>Body Regular</p>
        <p class='text-body-sm'>Body Small</p>
        <p class='text-body-xs'>Body Extra Small</p>
        <p class='text-detailed'>Detailed Text</p>
      </div>
    </div>
  </div>
</div>
<div class="py-10 wrapper-full-width wrapper-12-col wrapper-mobile mx-auto px-4">
  <div>
    <div class="border-b border-black py-10">
      <p class="text-heading-4">Colours</p>
    </div>
    <div class="flex flex-wrap gap-y-4 border-b border-black py-10">
      <div class="flex flex-col pr-6">
        <div class="w-20 h-20 bg-black border"></div>
        <p class="text-body-3">Black</p>
        <p class="text-body-3 text-grey-3">#000000</p>
      </div>
      <div class="flex flex-col pr-6">
        <div class="w-20 h-20 bg-white border"></div>
        <p class="text-body-3">White</p>
        <p class="text-body-3 text-grey-3">#FFFFFF</p>
      </div>
    </div>
    <div class="flex flex-wrap gap-y-4 border-b border-black py-10">
      <div class="flex flex-col pr-6">
        <div class="w-20 h-20 bg-grey-1 border"></div>
        <p class="text-body-3">Grey 1</p>
        <p class="text-body-3 text-grey-3">#292929</p>
      </div>
      <div class="flex flex-col pr-6">
        <div class="w-20 h-20 bg-grey-2 border"></div>
        <p class="text-body-3">Grey 2</p>
        <p class="text-body-3 text-grey-3">#5C5C5C</p>
      </div>
      <div class="flex flex-col pr-6">
        <div class="w-20 h-20 bg-grey-3 border"></div>
        <p class="text-body-3">Grey 3</p>
        <p class="text-body-3 text-grey-3">#8F8F8F</p>
      </div>
      <div class="flex flex-col pr-6">
        <div class="w-20 h-20 bg-grey-4 border"></div>
        <p class="text-body-3">Grey 4</p>
        <p class="text-body-3 text-grey-3">#C2C2C2</p>
      </div>
      <div class="flex flex-col pr-6">
        <div class="w-20 h-20 bg-grey-5 border"></div>
        <p class="text-body-3">Grey 5</p>
        <p class="text-body-3 text-grey-3">#DBDBDB</p>
      </div>
      <div class="flex flex-col pr-6">
        <div class="w-20 h-20 bg-grey-6 border"></div>
        <p class="text-body-3">Grey 6</p>
        <p class="text-body-3 text-grey-3">#F6F6F6</p>
      </div>
    </div>
    <div class="flex flex-wrap gap-y-4 border-b border-black py-10">
      <div class="flex flex-col pr-6">
        <div class="w-20 h-20 bg-blue-light border"></div>
        <p class="text-body-3">Blue 1</p>
        <p class="text-body-3 text-grey-3">#008AFF</p>
      </div>
      <div class="flex flex-col pr-6">
        <div class="w-20 h-20 bg-blue-dark border"></div>
        <p class="text-body-3">Blue 2</p>
        <p class="text-body-3 text-grey-3">#196CB2</p>
      </div>
      <div class="flex flex-col pr-6">
        <div class="w-20 h-20 bg-green-light border"></div>
        <p class="text-body-3">Green 1</p>
        <p class="text-body-3 text-grey-3">#69DE8F</p>
      </div>
      <div class="flex flex-col pr-6">
        <div class="w-20 h-20 bg-green-dark border"></div>
        <p class="text-body-3">Green 2</p>
        <p class="text-body-3 text-grey-3">#3FB27C</p>
      </div>
      <div class="flex flex-col pr-6">
        <div class="w-20 h-20 bg-red-light border"></div>
        <p class="text-body-3">Red 1</p>
        <p class="text-body-3 text-grey-3">#DD3043</p>
      </div>
      <div class="flex flex-col pr-6">
        <div class="w-20 h-20 bg-red-dark border"></div>
        <p class="text-body-3">Red 2</p>
        <p class="text-body-3 text-grey-3">#B21928</p>
      </div>
      <div class="flex flex-col pr-6">
        <div class="w-20 h-20 bg-purple-light border"></div>
        <p class="text-body-3">Purple 1</p>
        <p class="text-body-3 text-grey-3">#F05AA1</p>
      </div>
      <div class="flex flex-col pr-6">
        <div class="w-20 h-20 bg-purple-dark border"></div>
        <p class="text-body-3">Purple 2</p>
        <p class="text-body-3 text-grey-3">#B24378</p>
      </div>
      <div class="flex flex-col pr-6">
        <div class="w-20 h-20 bg-pink border"></div>
        <p class="text-body-3">Pink</p> 
        <p class="text-body-3 text-grey-3">#DDBAB4</p>
      </div>
      <div class="flex flex-col pr-6">
        <div class="w-20 h-20 bg-orange border"></div>
        <p class="text-body-3">Orange</p>
        <p class="text-body-3 text-grey-3">#DC8106</p>
      </div>
    </div>
  </div>
</div>
</div>
