@import 'skip-to-content.css';
@import 'variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/* When adding fonts also preload fonts in theme.liquid */
@layer base {
  @font-face {
    font-display: swap;
    font-family: 'GTAmericaCompressed';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/GT-America-Compressed-Bold.woff2') format('woff2'),
      url('../assets/GT-America-Compressed-Bold.woff') format('woff');
  }

  @font-face {
    font-display: swap;
    font-family: 'GTAmericaCompressed';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/GT-America-Compressed-Medium.woff2') format('woff2'),
      url('../assets/GT-America-Compressed-Medium.woff') format('woff');
  }

  @font-face {
    font-display: swap;
    font-family: 'GTAmerica';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/GT-America-Regular.woff2') format('woff2'),
      url('../assets/GT-America-Regular.woff') format('woff');
  }

  html {
    @apply font-body;
  }
}

@layer components {
  .text-heading-1,
  .text-heading-2,
  .text-heading-3,
  .text-heading-4,
  .text-heading-5,
  .text-heading-6,
  .text-heading-7 {
    @apply font-headings uppercase;
  }
}

.product-details table {
  width: 100% !important;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

.product-details tr {
  border-bottom: 0.1rem solid #dbdbdb;
}

.product-details tr td,
.product-details tr th {
  padding: 1.5rem 0 2rem;
  text-align: left;
}
