@import 'skip-to-content.css';
@import 'variables.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;


/* When adding fonts also preload fonts in theme.liquid */
@layer base {
  @font-face {
    font-display: swap;
    font-family: "GTAmericaCompressed";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/GT-America-Compressed-Bold.woff2") format("woff2"),
      url("../assets/GT-America-Compressed-Bold.woff") format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: "GTAmericaCompressed";
    font-style: normal;
    font-weight: 500;
    src: url('../assets/GT-America-Compressed-Medium.woff2') format("woff2"),
      url('../assets/GT-America-Compressed-Medium.woff') format("woff");
  }

  @font-face {
    font-display: swap;
    font-family: "GTAmerica";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/GT-America-Regular.woff2") format("woff2"),
      url("../assets/GT-America-Regular.woff") format("woff");
  }

  html {
    @apply font-body;
  }
}

@layer components {
  .text-heading-1,
  .text-heading-2,
  .text-heading-3,
  .text-heading-4,
  .text-heading-5,
  .text-heading-6,
  .text-heading-7 {
    @apply font-headings font-bold uppercase;
  }
  
  .text-heading-7 {
    @apply font-medium;
  }
}

#shopify-section-header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.header_scrolled {
  background-color: white;
  color: black;
}

.header_scrolled .underlined {
  background-color: black;
}

.header_scrolled path {
  fill: black;
}